body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.tools {
    color: white;
    border: 10px solid black;
    border-radius: 60px;
    background-color: black;
    /* margin: 20px 10px;
    padding: 10px 10px; */
}

.tools-heading {
    font-size: 30px;
    margin: 2px;
}

.tools-header {
    margin: 20px;
    padding: 0;
}